<% @animals.each do |animal| %>
  <h2><%= animal["name"] %></h2>
  <h3> Price: <%= animal["price"] %></h3>
  <h4> Description: <%= animal["description"] %></h4>
  <h4> Image: <%= animal["image_url"] %></h4>
  <br/>

<% end %>